:host > div {
    padding: 4px 0;
}

.options {
    display: flex;
    flex-direction: column;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 4px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
.collapsible:after {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
    
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: #ccc;
  }