#right {
    flex: 0 1 500px;
    display: "flex";
    flex-direction: "column";
}
#left {
    flex: 1 1 60%;
    position: relative;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}