table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}

table:nth-child(even){
    background-color: #f2f2f2;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }